<nav class="navbar navbar-expand-md navbar-dark flex-md-column align-items-start h-100">
    <a class="navbar-brand" href="#">Music Player</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ms-auto flex-md-column mb-auto">
            <li class="nav-item">
                <a class="nav-link px-0 {{#ifeq active ''}}active{{/ifeq}}" href="/"><i class="bi bi-house"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-0 {{#ifeq active 'favorites'}}active{{/ifeq}}" href="/favorites"><i class="bi bi-heart"></i> Favorites</a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link px-0 {{#ifeq active 'albums'}}active{{/ifeq}}" href="#"><i class="bi bi-file-music"></i> Albums</a>
            </li>-->
            {{# if user }}
                <li class="nav-item">
                    <a class="nav-link px-0" href="/logout"><i class="bi bi-box-arrow-right"></i> Logout</a>
                </li>
            {{/if}}
        </ul>
    </div>
</nav>